*{
  margin:0 ;
  padding:0 ;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  
}

.body { 
  display: grid; 
  height: 100vh;
  grid-template-areas: "head" 
                       "main" 
                       "footer"; 
  grid-template-rows: 40px 1fr 20px; 

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
} 

@media screen{
  .innerbody{
    grid-area: main;
    display: grid; 
    grid-template-areas: "inner-navi  inner-main" ;                       
    grid-template-columns: 240px 1fr; 
    overflow-y: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}


@media print{
  .innerbody{
    grid-area: main;
    display: grid; 
    grid-template-areas:"inner-navi" 
                        "inner-main" ;                       
    grid-template-rows: 40px 1fr;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}



.header { 
  grid-area: head;
  background-color: #2b2d42;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-shadow: 5px 5px 5px gainsboro;
  
} 

.head-container{
  /* background-color: #2b2d42; */
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
}  

/* 
ul{
  display: inline-flex;
  list-style: none;
  margin: 0;
} */


.head-container li{
  height: 100%;
}

.head-container a:hover{
  /* background-color:  #2b2d42c9; */
  
  background-color: grey;
}

.head-container a{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  padding: 10px;
  margin: 0 12px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
} 


.nav-bar { 
  /* padding: 20px; */
  padding: 25px 0px 25px 0px;
  grid-area: inner-navi; 
  overflow-y: auto;
  /* background-color:  rgb(238, 241, 250);  */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0px 5px 5px gainsboro;
  
} 

.nav-bar-list{
  display: flex;
  flex-flow: column wrap;
  justify-content: stretch;
  
}


.nav-bar-list .nav-item{
  padding:10px 20px 10px 20px;
}

.nav-bar-list a{
  
  text-decoration: none; 
  color:black
}

.nav-bar-list .nav-item:hover{
  background-color: rgb(244, 244, 244);
}

.nav-bar-list li .focus{
  /* background-color: rgb(228, 226, 226); */
  background-color: rgb(228, 226, 226);
}


.inner-main { 
  grid-area: inner-main; 
  overflow-y: auto;
  padding: 20px 40px 20px 40px;
  /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
} 

.inner-main h1{
  padding: 10px 0 10px 0px ;
  border-bottom: 1.5px solid silver;
  
}

.inner-main h2{
  padding: 0 0 0 6px ;
  border-left: 6px solid grey;
  margin: 10px 0 10px 0px;
}

.inner-main h3{
  padding: 15px 0 5px 0px ;
  
}

.inner-main p{
  
  padding: 6px 0 6px 0 ;
  line-height: 20px;
  /* font-size: 1.125rem; */
  font-size: 1rem;
  font-family: Arial;
} 

.footer { 
  grid-area: footer; 
  background-color: rgb(234, 237, 247); 
  /* text-align: right; */
  padding: 2px;
  font-family: Consolas;
  color: grey;
  font-size: 0.7rem;
} 

code{
  color:rgb(101, 99, 99);
  font-size: 0.9rem;
}


pre{
  margin: 10px 0 10px 0;
  background-color: lightyellow !important;
}

/* ------------ */
.parent-img img {
  width: 100%;
  /* border-radius: 10px; */
}

p ol{
  margin: 10px 0 10px 30px;
}

p ul{
  margin: 10px 0 10px 30px;
}

.para-like li{
  margin: 4px 0 4px 0;
}

.inner-main .writing-sample{
  font-family: Times;
  background-color: cornsilk;
  padding: 5px;
}